* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

ul,
ol,
li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

li a {
    color: black;
    text-decoration: none;

}

.links {
    color: black;
    text-decoration: none;
}

li {
    list-style-type: none;
}

body {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-self: center;
    background-color: rgb(235, 220, 201);
}


.header_index {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    border-bottom: 2px solid black;
    background-color: rgb(53, 92, 125);
}

.logo_index {
    width: 25%;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}

.logo_index1 {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 10px;
}

.navegador_index {
    display: flex;
    width: 100%;
    justify-content: end;
    height: 30px;
    margin-top: 10px;
    flex-wrap: wrap;
    align-content: center;
}

.navegador_index li {
    margin-right: 20px;
}

.navegador_index li {
    background-color: lightblue;
    font-size: 15px;
    padding: 5px;
    border: 1px solid gray;
    color: rgb(178, 218, 255);
    border-radius: 20px;
}

.navegador_index0 {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 10px;
    justify-content: center;
}

.BARRA_de_busqueda {
    width: 400px;
    margin: 0 auto;

}

.buscador_index {
    height: 30px;
    width: 300px;
    padding: 5px;
}

.BARRA_de_busqueda2 {
    width: 80px;
    height: 30px;
    background-color: lightblue;
    color: rgb(1, 59, 110);
    font-weight: bold;
    border: 1px solid black;
}


.BARRA_de_busqueda1 {
    width: 300px;
}

.PRODUCTS {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
}

.main_index {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-left: 2px;
}

.aside_index {
    width: 20%;
    background-color: #4A5B6B;
    color: rgb(247, 242, 242);
}

.aside_index a {
    color: rgb(247, 242, 242);
}

.CATEGORIAS_index {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.CATEGORIAS_index li {
    margin-bottom: 30px;
}

.CATEGORIAS_titulo {
    text-align: center;
    width: 100%;
    height: 37px;
    font-size: 28px;
}

.CATEGORIAS_index_li {
    margin-top: 5px;
}

.TOP_PRODUCTS {
    text-align: center;
    display: block;
    width: 100%;
}

.section_index {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.article_index {
    display: flex;
    flex-wrap: wrap;
    width: 20%;
    border: 1px gray solid;
    margin: 5px;
    height: 390px;
    justify-content: center;
    background-color: rgb(161, 194, 218);
}

.img_article_index {
    width: 100%;
    height: 200px;
    margin-bottom: 5px;
}

.imgproduct {
    height: 400px;
    border: 5px solid rgb(192, 108, 132);
}

.botton_index {
    margin: 3px auto;
    height: 40px;
    align-self: end;
    width: 100px;
    background-color: rgb(13, 83, 117);
    border: 1px solid rgb(141, 187, 219);
}

.botton_index a {
    color: rgba(235, 220, 201);
    font-weight: bold;
}

.item {
    border: 2px solid rgb(53, 92, 125);
    display: flex;
    flex-direction: column;
    background-color: rgb(224, 218, 216);
    padding: 10px;
}

.Section {
    margin-bottom: 30px;
}

.Section2 {
    margin-bottom: 30px;
}

.Reseñas {
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 28px;
}

.item {
    line-height: 25px;
}

.h1product {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    margin-left: 15px;
}

.lista {
    display: flex;
    flex-direction: row;
    margin-left: 15px;
    margin-top: 15px;
}
.lista p {
    background-color: #355c7d;
    color: white;
    width: 90px;
    height: 40px;
    text-align: center;
    border-radius: 80px;
    margin-right: 10px;
}

.mainproduct {
    display: flex;
    flex-direction: row;
}

.divproduct {
    margin-left: 40px;
    margin-right: 40px;
}

.fecha {
    text-align: right;
}

.Sectionproduct {
    line-height: 35px;
}

.descripcion {
    font-size: 20px;
    margin-left: 15px ;
}

.email_login {
    width: 400px;
}

.main_login {
    background-color: #6c5b7b;
    width: 768px;
    display: flex;
    justify-content: center;
}

.body_login {
    justify-content: center;
}

.contenedor_login {
    margin: 15px 0 15px 0;
}

.registro{
   font-family: Arial, Helvetica, sans-serif;
   font-size: 15px;
}
          

.titulo_login {
    text-align: center;
    margin: 0 0 15px 0;
}

.form_login {
    display: flex;
    flex-direction: column;
}

.form_login label {
    margin-bottom: 15px;
}

.texto_productos {
    margin: 0 2px 0 2px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.texto_productos p {
    margin-top: 5px;
}

.footer {
    display: flex;
    flex-direction: row;
    background-color: rgb(53, 92, 125);
    width: 100%;
    margin-top: 30px;
    padding: 30px;
    justify-content: space-around;
}

.footer p {
    color: white;
    margin-top: 5px;
}

.footer a {
    color: white;
}

.footer h2 {
    color: lightblue;
}

.footer label {
    color: white;
}

.footer {
    line-height: 25px;
}

.footer input {
    margin-top: 20px;
}

.detalles1 {
    margin: 3px auto;
    padding: 10px;
    border: 1px solid rgba(235, 220, 201);
    background-color: rgb(13, 83, 117);
    align-self: end;
    color: rgb(141, 187, 219);
    height: 40px;
    width: 100px;
    text-align: center;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
}

.detalles {
    color: white;
}

.boton_login {
    width: 80px;
    align-self: center;
    padding: 5px;
    background-color: lightblue;
    border: 1px solid black;
}

.Registrate {
    align-self: center;
    width: 200px;
    display: flex;
    justify-content: space-between;
}

.boton_register {
    width: 80px;
    align-self: center;
    padding: 5px;
    background-color: lightblue;
    border: 1px solid black;
}

.barras {
    width: 30px;
}

.email_login {
    height: 30px;
    margin-top: 5px;
}

.terminos {
    margin-right: 5px;
}

.Suscribirse {
    background-color: lightblue;
    color: blue;
}

.productdesc {
    display: flex;
    margin-top: 30px;
    align-items: center;
}

@media(max-width: 425px) {
    .body {
        display: flex;
    }

    .main_index {
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;
    }

    .aside_index {
        width: 100%;
    }
    .logo_index{
        width: 40%;
    }

    .PRODUCTS {
        width: 100%;
    }
   

    .article_index {
        width: 100%;
    }

    .CATEGORIAS_index {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 5px;
        align-content: center;
        justify-content: center;
    }

    .CATEGORIAS_index li {
        margin-bottom: 30px;
        margin: 5px;
    }

    .navegador_index {
        justify-content: space-between;
    }

    .navegador_index li {
        margin: 3px;
    }

    .BARRA_de_busqueda2 {
        width: 20%
    }

    .buscador_index {
        width: 60%;
        margin-left: 10%;
        height: 80%;
        border: solid black 1px;
    }
    .BARRA_de_busqueda2 {
        height: 80%;
    }

    .footer {

        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
    }

    .main_login {
        width: 98%;
    }

    .contenedor_login {
        width: 95%;
    }

    .email_login {
        width: 100%;
    }
.mainproduct {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
}
.divproduct {
    margin-left:0px ;
}
.productdesc{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.lista {
    justify-content: center;
}
.imgproduct {
    height: 100%;
    width: 100%;
}
.productdesc {
    width: 100%;
}
}
.ALEATORIOS {
    text-align: center;
    width: 100%;
    margin-top: 20px;
}